[Unit]
Description=Hamchron
After=network.target

[Service]
Environment="CALLSIGN=NB8F"
Environment="SECRET_KEY_BASE=198enarst99123n123n908ars09t8ar09st890123nieonarst908arstnarst0212"
Environment="PHX_SERVER=1"
Environtment="GRID_SQUARE=EN82ao"
Type=simple
WorkingDirectory=/home/quadra/hamchron
ExecStart=/home/quadra/hamchron/bin/hamchron_linux_arm
User=quadra
Group=quadra
Restart=always

[Install]
WantedBy=multi-user.target

