<div>
  <header class="flex bg-slate-900 text-white justify-between py-2 px-2">
    <Callsign.info callsign={System.get_env("CALLSIGN")} ip_address={@ip_address} />
    <.live_component module={TimeComponent} id="time" />
    <.live_component module={SpaceWeatherComponent} id="space-weather" />
  </header>

  <main class="flex justify-center">
    <div class="flex w-full">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
